<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <a href="/">&lt; Back</a>

      <h1><%= title %></h1>

      <form method="POST" action="/new">
        <div>
          <label>
            <p>Name</p>
            <input name="name" type="text" required />
          </label>
        </div>

        <div>
          <label>
            <p>Message</p>
            <input name="message" type="text" required />
          </label>
        </div>

        <button type="submit">Send message</button>
      </form>
    </div>
  </body>
</html>
