<div class="message">
  <p>
    <%= message.user %> &middot;
    <span
      ><%= message.added.toLocaleString().split(',').reverse().join(' · ')
      %></span
    >
  </p>
  <p><%= message.text %></p>
</div>
